{% extends "project_base.html" %}
{% load i18n %}

{% block header %}<h2>Lookup a keyboard shortcut here</h2>{% endblock header %}
{% block content %}

 <div class="container" ng-controller="KeylookupCtrl">
    <datalist id="keys">
        <select><!-- put select tag around options to fix an angular.js bug -->
            <option ng-repeat="name in key_names">{% templatetag openbrace %}{% templatetag openbrace %}name{% templatetag closebrace %}{% templatetag closebrace %}</option>
        </select>
    </datalist>
    
    <br />
    <div class="row">
        <div class="span8"><input type="text" ng-model="search" placeholder="Search" /></div>
    </div>
    <div class="row">
        <div class="span4"><strong>Modifiers:</strong></div>
        <div class="span2"><strong>Name of the key:</strong></div>
    </div>
    <div class="row">
        <div class="span1"><input type="checkbox" ng-model="key.command" ng-change="apply_filter()" /><br />Command</div>
        <div class="span1"><input type="checkbox" ng-model="key.ctrl" ng-change="apply_filter()" /><br />Ctrl</div>
        <div class="span1"><input type="checkbox" ng-model="key.shift" ng-change="apply_filter()" /><br />Shift</div>
        <div class="span1"><input type="checkbox" ng-model="key.option" ng-change="apply_filter()" /><br />Option</div>
        <div class="span3"><input type="text" list="keys" size="10" ng-model="key.name" ng-change="apply_filter()" /></div>
        <div class="span1"><button class="btn" ng-click="reset()">Reset</button></div>
    </div>
    
    <div class="row result">
        <div class="span8">
            <ul>
                <li ng-repeat="result in results | filter:search | orderBy:application">
                    {% templatetag openbrace %}{% templatetag openbrace %}
                        result.application
                    {% templatetag closebrace %}{% templatetag closebrace %}
                    <p><span ng-bind="result.key_code"></span> : <span ng-bind="result.description"></span></p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
